.container {
    width: 100%;
    display: flex;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar-icon {
    color: gray;
}

.bar-button {
    appearance: none;
    cursor: pointer;
    border: none;
    background: none;
    margin: 10px;
}

.right-div {
    display: flex;
}

.left-div {
    display: flex;

}

.img-div {
    display: flex;
    padding-left: 5px;
    padding-right: 10px;
}

.image {
    width: 40px;
    border-radius: 50px;
    height: 40px;
}

.name {
    font-weight: bold;
}

.status {
    color: gray;
}